POWERBOARD_INTEGRATION_CONFIG=
{"clientId":"PK9WaT4yeWzJX2f3Vs_RpAZp","clientSecret":"bjQbof1-0sAjhGHRnmh-9tU1-cAVR90r","projectKey":"demo-paydock","apiUrl":"https://api.europe-west1.gcp.commercetools.com","authUrl":"https://auth.europe-west1.gcp.commercetools.com","powerboardLiveUrl": "https://api.powerboard.commbank.com.au","powerboardSandboxUrl":"https://api.preproduction.powerboard.commbank.com.au","notificationBaseUrl": "https://localhost:8084"}
